/*
/* index.css
*/

@charset "utf-8";

/*------------------------------
 ▼ forSP
 -------------------------------*/
/* display */
.display-none {
  display: none !important;
}

/* product content */
input::placeholder {
  padding: 0 0 3vw 1vw;
  font-size: 0.8rem;
  color: #f0f0f1;
}

main {
  max-width: 100vw;
}

/* login */
main .main-account-wrapper {
  max-width: 100vw;
  padding: 3vw 0;
}

/* headline */
main .main-account-wrapper .headline-standard {
  width: 90%;
  margin: 1vw auto;
  padding: 15px 30px;
  font-size: 2rem;
  color: #373866;
  text-align: left;
  border-top: solid 1px #373866;
  border-bottom: solid 1px #373866;
}

/* account wrapper */
main .main-account-wrapper .account-row-wrapper {
  width: 90%;
  margin: 5vw auto;
  padding: 0;
}

/* account wrapper */
main .main-account-wrapper .account-row-wrapper ul li {
  display: flex;
  flex-direction: column;
  margin: 2vw auto;
}

main .main-account-wrapper .account-row-wrapper ul li.passarea {
  position: relative;
  margin: 0;
  padding: 0;
}

main .main-account-wrapper .account-row-wrapper ul li.passarea input {
  width: 90%;
  height: 10vw;
  margin: 10px auto;
  padding: 10px;
  border: solid 1px #373866;
}

main .main-account-wrapper .account-row-wrapper ul li.passarea button {
  position: absolute;
  top: 4vw;
  right: 8vw;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

/* account wrapper */
main .main-account-wrapper .account-row-wrapper p {
  margin: 0;
}

/*-------------------------------
 ▼forPC
 --------------------------------*/
@media screen and (min-width: 769px) {

  /* product content */
  input::placeholder {
    padding: 0 0 10px 5px;
    font-size: 0.8rem;
    color: #f0f0f1;
  }

  /* login */
  main {
    max-width: 1240px;
  }

  /* headline */
  main .main-account-wrapper .headline-standard {
    width: 90%;
    margin: 10px auto 40px;
    padding: 15px 30px;
    font-size: 3rem;
    color: #373866;
    text-align: left;
    border-top: solid 1px #373866;
    border-bottom: solid 1px #373866;
  }

  /* login wrapper */
  main .main-account-wrapper .account-row-wrapper {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 0;
    text-align: left;
  }

  /* account wrapper */
  main .main-account-wrapper .account-row-wrapper ul li {
    margin: 10px auto;
    padding: 0 0 0 30px;
    display: flex;
    flex-direction: row;
  }

  /* account wrapper */
  main .main-account-wrapper .account-row-wrapper ul li {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
  }

  main .main-account-wrapper .account-row-wrapper ul li.passarea {
    width: 500px;
    position: relative;
    margin: 0;
    padding: 0;
  }

  main .main-account-wrapper .account-row-wrapper ul li.passarea input {
    width: 100%;
    height: 40px;
    margin: 10px auto 0 0;
    padding: 0 10px;
    border: solid 1px #373866;
  }

  main .main-account-wrapper .account-row-wrapper ul li.passarea button {
    position: absolute;
    top: 16px;
    right: 20px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
  }

  main .main-account-wrapper .account-row-wrapper button {
    margin: 30px auto 0 50px;
    text-align: left;
  }

  main .main-account-wrapper .account-row-wrapper p {
    width: 250px;
    margin: 0;
    font-size: 1rem;
  }
}