/*
/* regist.css
*/

@charset "utf-8";

/*------------------------------
 ▼ forSP
 -------------------------------*/
/* main */
main {
  max-width: 100vw;
}

/* login */
main .main-regist-wrapper {
  max-width: 100vw;
}

/* headline */
/* regist wrapper */
main .main-regist-wrapper .regist-row-wrapper {
  width: 90%;
  margin: 1vw auto;
  padding: 0;
}

/* regist header */
main .main-regist-wrapper .regist-row-wrapper .form-header {
  width: 90%;
  margin: 5vw auto;
  padding: 0;
  font-size: 2.5vw;
  text-align: left;
}

/* regist rows */
main .main-regist-wrapper .regist-row-wrapper .regist-row-parent {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-size: 2.5vw;
}

main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .alert {
  text-align: center;
}

main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .inputarea {
  margin: 1vw 0;
  padding: 1vw 0;
  text-align: left;
  color: #373866;
}

main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .inputarea input {
  height: 9vw;
  padding: 1vw;
  color: #000;
  font-size: 3vw;
  text-align: left;
  border: 1px solid #373866;
}

main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .inputarea input::placeholder {
  font-size: 2.5vw;
  color: #f0f0f1;
}

/* product content */
main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .name-row-children input {
  width: 100%;
}

/* product content */
main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .name-row-children label {
  width: 100%;
}

/* product content */
main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .regist-row-children input {
  width: 100%;
}

/* product content */
main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .regist-row-children label {
  width: 100%;
}

/* regist check */
main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-check-area {
  margin: 5vw 0 0;
  text-align: center;
  border: none;
}



main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-check-area .regist-check-children {
  margin: 2vw 0;
  padding: 0 0 0 3vw;
  font-size: 2.5vw;
  text-align: left;
  border: none;
}

main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-check-area .regist-check-children label {
  padding: 0 0 0 1vw;
  line-height: 1.8em;
}

main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-check-area .regist-button-children button {
  margin: 5vw 0 0;
  padding: 2vw 4vw;
  color: #fff;
  text-align: center;
  border: none;
  font-size: 3vw;
}

/*-------------------------------
 ▼forTablet
 --------------------------------*/
@media screen and (min-width: 480px) {

  /* login */
  main {
    max-width: 770px;
  }

  /* login wrapper */
  main .main-regist-wrapper {
    max-width: 770px;
  }

  main .main-regist-wrapper .regist-row-wrapper {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 0;
  }

  main .main-regist-wrapper .regist-row-wrapper .form-header {
    margin: 10px auto;
    padding: 0;
    font-size: 1.1rem;
    line-height: 1.2em;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent {
    margin: 0 0 0 50px;
    text-align: left;
    font-size: 2rem;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .inputarea {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 15px 0;
    padding: 5px 0;
    text-align: left;
    font-size: 1rem;
    color: #373866;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .alert {
    margin: 35px 0 0;
    padding: 0 0 0 10px;
    font-size: 0.9rem;
    text-align: left;
  }

  /* product content */
  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .inputarea input {
    height: 50px;
    margin: 5px 0 0;
    padding: 8px;
    color: #000;
    font-size: 1rem;
    text-align: left;
    border: 1px solid #373866;
  }

  /* product content */
  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .inputarea label {
    font-size: 1rem;
    text-align: left;
  }

  /* product content */
  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .name-row-children input {
    width: 220px;
    margin: 0 20px 0 0;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .name-row-children input::placeholder {
    font-size: 1rem;
    color: #f0f0f1;
  }

  /* product content */
  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .name-row-children label {
    width: 80px;
  }

  /* product content */
  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .regist-row-children input {
    width: 400px;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .regist-row-children input::placeholder {
    font-size: 1rem;
    color: #f0f0f1;
  }

  /* product content */
  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .regist-row-children label {
    width: 180px;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .regist-button-children {
    text-align: left;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-check-area {
    margin: 20px 0 0;
    text-align: center;
    border: none;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-check-area .regist-check-children {
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 2rem;
    text-align: left;
    border: none;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-check-area .regist-check-children label {
    padding: 0;
    line-height: .1rem;
    font-size: 1rem;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-check-area .regist-button-children {
    margin: 20px 0;
    text-align: left;
    border: none;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-check-area .regist-button-children button {
    margin: 20px 0 0;
    padding: 20px;
    text-align: left;
    font-size: 1.2rem;
    border: none;
  }

  main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-check-area .regist-button-children a button {
    margin: 0;
  }

  /*-------------------------------
 ▼forPC
 --------------------------------*/
  @media screen and (min-width: 961px) {

    /* login */
    main {
      max-width: 1240px;
    }

    /* login wrapper */
    main .main-regist-wrapper {
      max-width: 1240px;
    }

    main .main-regist-wrapper .regist-row-wrapper .regist-row-parent .regist-row-input-area .name-row-children input {
      margin: 0 30px 0 0;
    }
  }
}