/*
/* goodmanage.css
*/

@charset "utf-8";

main .main-login-wrapper h3 {
  padding-left: 50px;
  font-size: 2rem;
}

main .main-login-wrapper .login-row-wrapper .login-row-parent .login-row-children {
  margin: 20px 0;
}

main .main-login-wrapper .login-row-wrapper .login-row-parent .login-row-children input {
  width: 500px;
}

main .main-login-wrapper .login-row-wrapper .login-row-parent .login-row-children button {
  width: 500px;
}